.container{
    min-height:100vh;
    width:100%;
    background:linear-gradient(360deg,#761e76,#a74444);
    padding: 10px;
    
}
.todoapp{
    padding:20px;
    align-items: center;
    margin:100px auto 20px;
    border-radius:5px;
    width:400px;
    background-color:white;
}
.todoapp h2 img{
    height:20px;
    width:30px;
}
.todoapp h2{
    display:block;
    margin-bottom:40px;
}
.input{
    margin-bottom:10px;
    background-color: aliceblue;
    display:flex;
    align-items: center;
    justify-content: space-between;
    height:45px;
    border-radius:20px;
}
.input input{
    padding-left: 20px;
    flex:1;
    background-color: aliceblue;
    border:none;
    outline:none;
}
.add{
    cursor:pointer;
    background-color:crimson;
    width:90px;
    height:100%;
    border-radius:20px;
    border:none;
}
.listcontainer li{
    padding:10px;
    font-size:24px;
    margin-left:0px;
    list-style-type: none;
    cursor:pointer;
}
ul li input{
    cursor:pointer;
    height:15px;
    width:15px;
    
}